.the_main_div{
    margin-left: 42px; 
}
.the_line{
    background-color: #000;
    width: 50%;
    height: 3px;
}
.your_name{
    color: black;
    font-family: sans-serif;
    font-weight: 200;
}
.green_main{
    color: rgb(93, 191, 93);
    font-weight: 500;
}

.font{
    color: black;
    opacity: 70%;
    font-weight: 500;
}
.blue_font{
    color: rgb(13, 105, 211);
}
